 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href={% static 'task.css' %}>
</head>
<body>
     <div class="main">
         <div  class="container">
            <div class="left">
                <h1>Inaternship Task - 1</h1>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vel doloremque aperiam ex odio unde quo soluta corporis tempora 
                 adipisci eaque corrupti laudantium distinctio necessitatibus, voluptatum suscipit dolor animi harum aspernatur vitae ad optio impedit nulla exercitationem?
                 Distinctio corrupti architecto, culpa maiores at consequuntur esse rem autem quisquam quaerat dolores.</p>
                <button>click me</button>
                <button>submit</button><br> <br>
            </div>
            <div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZuK6qt7gvPmLDewro4-8kiSgZIjiXxf75nA&s"  alt="">
    
            </div>
         </div>
        <div>
            <a target="_blank" href="https://www.linkedin.com/in/anjali-gupta-606019221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                https://www.linkedin.com/in/anjali-gupta-606019221?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
            </a>
            <br> <br>
            <form method="post" id="form_input" action="">
                <input type="url" placeholder="Paste Long url" class="first">
                <input type="text" placeholder="alias"  class="second">
                <button>Shorten</button>
            </form>
        </div>
        <p class="demo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officia consequatur nesciunt impedit odio animi assumenda alias, nostrum qui fuga fugiat aliquam magni, similique ea veritatis molestiae laboriosam dolorum esse atque iure rem consequuntur doloribus. Corrupti nesciunt quas adipisci accusantium incidunt ab, sint similique dolorem culpa possimus, nemo nihil laboriosam quasi animi dolor, doloribus at. Repudiandae hic voluptas, esse fugit cum distinctio corporis blanditiis accusantium, a voluptate non quam velit, doloribus eius vel nisi ducimus. Facere, consequatur. Quidem error voluptas pariatur nihil dolore aspernatur quod, nemo autem 
            necessitatibus? Eius quos soluta, doloribus autem eos nesciunt veritatis quam fugiat ipsam rem.</p>
     </div>
</body>

</html>