{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "try.css"%}>
</head>
<body>
    <div id="box">
        This is a div
    </div>
    <p class="para">This is a simple line</p>
    <div id="bulb" class="buldcontainer bulb"></div>
     <img src="https://images.pexels.com/photos/1616472/pexels-photo-1616472.jpeg?auto=compress&cs=tinysrgb&w=600" id="bulb" class="buldcontainer bulb" alt=""> 
    <br><br>
    <button id="btn" >Click me!</button>
    <button class="btn"> Submit</button>

    <button id="bookmark">Google</button>
    <br> <br>
     

    <span id="first">Hy i am span</span>
    <br>
    <br>
     <button class="project">See project</button>

     <p class="demo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quos odit! Expedita vel odio, quas molestias accusamus obcaecati libero cupiditate. Quam suscipit molestias dolores, rerum optio sunt dignissimos alias veniam.</p>
    
</body>
{% comment %} <script src="first.js"></script> {% endcomment %}
</html>